#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dot {
  border-radius: 100%;
  display: block;
  width: 10px;
  height: 10px;
  background-color: red;
  position: absolute;
}
